//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 05 14:24:24 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Switch" LOCATE = SITE "T10" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "Button" LOCATE = SITE "C9" LEVEL 1;
COMP "LED_B" LOCATE = SITE "V16" LEVEL 1;
COMP "LED_S" LOCATE = SITE "U16" LEVEL 1;
SCHEMATIC END;

