//! **************************************************************************
// Written by: Map P.20131013 on Mon Jan 29 11:11:53 2018
//! **************************************************************************

SCHEMATIC START;
COMP "JA_dn" LOCATE = SITE "V12" LEVEL 1;
COMP "JA_dp" LOCATE = SITE "T12" LEVEL 1;
COMP "clk_i" LOCATE = SITE "V10" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "Led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "Led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "Led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "Led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "Led<7>" LOCATE = SITE "T11" LEVEL 1;
PIN usb/u15/f1/u0/Mram_mem_pins<20> = BEL "usb/u15/f1/u0/Mram_mem" PINNAME
        CLKAWRCLK;
PIN usb/u15/f1/u0/Mram_mem_pins<21> = BEL "usb/u15/f1/u0/Mram_mem" PINNAME
        CLKBRDCLK;
PIN usb/u11/f1/u0/Mram_mem_pins<20> = BEL "usb/u11/f1/u0/Mram_mem" PINNAME
        CLKAWRCLK;
PIN usb/u11/f1/u0/Mram_mem_pins<21> = BEL "usb/u11/f1/u0/Mram_mem" PINNAME
        CLKBRDCLK;
PIN usb/u10/f0/u0/Mram_mem_pins<20> = BEL "usb/u10/f0/u0/Mram_mem" PINNAME
        CLKAWRCLK;
PIN usb/u10/f0/u0/Mram_mem_pins<21> = BEL "usb/u10/f0/u0/Mram_mem" PINNAME
        CLKBRDCLK;
PIN usb/u10/f1/u0/Mram_mem_pins<20> = BEL "usb/u10/f1/u0/Mram_mem" PINNAME
        CLKAWRCLK;
PIN usb/u10/f1/u0/Mram_mem_pins<21> = BEL "usb/u10/f1/u0/Mram_mem" PINNAME
        CLKBRDCLK;
PIN usb/u4_rom1/Mram_adr[6]_X_16_o_wide_mux_1_OUT_pins<10> = BEL
        "usb/u4_rom1/Mram_adr[6]_X_16_o_wide_mux_1_OUT" PINNAME CLKAWRCLK;
TIMEGRP sys_clk_pin = BEL "usb/phy/rst_cnt_4" BEL "usb/phy/rst_cnt_3" BEL
        "usb/phy/rst_cnt_1" BEL "usb/phy/rst_cnt_0" BEL "usb/phy/rst_cnt_2"
        PIN "usb/u15/f1/u0/Mram_mem_pins<20>" PIN
        "usb/u15/f1/u0/Mram_mem_pins<21>" BEL "usb/phy/usb_rst" BEL
        "usb/rst_local" BEL "usb/ep_empty" BEL "usb/tx_data_st_7" BEL
        "usb/tx_data_st_6" BEL "usb/tx_data_st_5" BEL "usb/tx_data_st_4" BEL
        "usb/tx_data_st_3" BEL "usb/tx_data_st_2" BEL "usb/tx_data_st_1" BEL
        "usb/tx_data_st_0" BEL "usb/phy/i_tx_phy/bit_cnt_2" BEL
        "usb/phy/i_tx_phy/one_cnt_2" BEL "usb/phy/i_tx_phy/one_cnt_1" BEL
        "usb/phy/i_tx_phy/one_cnt_0" BEL "usb/phy/i_tx_phy/bit_cnt_1" BEL
        "usb/phy/i_tx_phy/bit_cnt_0" BEL "usb/phy/i_tx_phy/state_FSM_FFd1" BEL
        "usb/phy/i_tx_phy/state_FSM_FFd2" BEL
        "usb/phy/i_tx_phy/state_FSM_FFd3" BEL "usb/phy/i_tx_phy/hold_reg_d_7"
        BEL "usb/phy/i_tx_phy/hold_reg_d_6" BEL
        "usb/phy/i_tx_phy/hold_reg_d_5" BEL "usb/phy/i_tx_phy/hold_reg_d_4"
        BEL "usb/phy/i_tx_phy/hold_reg_d_3" BEL
        "usb/phy/i_tx_phy/hold_reg_d_2" BEL "usb/phy/i_tx_phy/hold_reg_d_1"
        BEL "usb/phy/i_tx_phy/hold_reg_d_0" BEL "usb/phy/i_tx_phy/hold_reg_7"
        BEL "usb/phy/i_tx_phy/hold_reg_6" BEL "usb/phy/i_tx_phy/hold_reg_5"
        BEL "usb/phy/i_tx_phy/hold_reg_4" BEL "usb/phy/i_tx_phy/hold_reg_3"
        BEL "usb/phy/i_tx_phy/hold_reg_2" BEL "usb/phy/i_tx_phy/hold_reg_1"
        BEL "usb/phy/i_tx_phy/hold_reg_0" BEL "usb/phy/i_tx_phy/ld_data" BEL
        "usb/phy/i_tx_phy/txoe_r2" BEL "usb/phy/i_tx_phy/txoe_r1" BEL
        "usb/phy/i_tx_phy/append_eop_sync1" BEL "usb/phy/i_tx_phy/tx_ip_sync"
        BEL "usb/phy/i_tx_phy/txdp" BEL "usb/phy/i_tx_phy/append_eop_sync4"
        BEL "usb/phy/i_tx_phy/sft_done_r" BEL "usb/phy/i_tx_phy/txoe" BEL
        "usb/phy/i_tx_phy/append_eop_sync3" BEL
        "usb/phy/i_tx_phy/append_eop_sync2" BEL
        "usb/phy/i_rx_phy/fs_state_FSM_FFd1" BEL
        "usb/phy/i_rx_phy/fs_state_FSM_FFd2" BEL "usb/phy/i_rx_phy/bit_cnt_2"
        BEL "usb/phy/i_rx_phy/bit_cnt_1" BEL "usb/phy/i_rx_phy/bit_cnt_0" BEL
        "usb/phy/i_rx_phy/dpll_state_FSM_FFd1" BEL
        "usb/phy/i_rx_phy/fs_state_FSM_FFd3" BEL "usb/phy/i_rx_phy/shift_en"
        BEL "usb/phy/i_rx_phy/se0_s" BEL "usb/phy/i_rx_phy/one_cnt_2" BEL
        "usb/phy/i_rx_phy/one_cnt_1" BEL "usb/phy/i_rx_phy/one_cnt_0" BEL
        "usb/phy/i_rx_phy/hold_reg_7" BEL "usb/phy/i_rx_phy/hold_reg_6" BEL
        "usb/phy/i_rx_phy/hold_reg_5" BEL "usb/phy/i_rx_phy/hold_reg_4" BEL
        "usb/phy/i_rx_phy/hold_reg_3" BEL "usb/phy/i_rx_phy/hold_reg_2" BEL
        "usb/phy/i_rx_phy/hold_reg_1" BEL "usb/phy/i_rx_phy/hold_reg_0" BEL
        "usb/phy/i_rx_phy/rxdn_s1" BEL "usb/phy/i_rx_phy/rxdp_s1" BEL
        "usb/phy/i_rx_phy/fs_ce_r1" BEL "usb/phy/i_rx_phy/rx_en" BEL
        "usb/phy/i_rx_phy/byte_err" BEL "usb/phy/i_rx_phy/bit_stuff_err" BEL
        "usb/phy/i_rx_phy/rx_valid" BEL "usb/phy/i_rx_phy/rxdn_s" BEL
        "usb/phy/i_rx_phy/rxdp_s" BEL "usb/phy/i_rx_phy/rxdp_s0" BEL
        "usb/phy/i_rx_phy/rxdn_s0" BEL "usb/u0/rx_valid" BEL "usb/u0/TxValid"
        BEL "usb/u0/tx_ready" BEL "usb/u0/rx_err" BEL "usb/u0/rx_active" BEL
        "usb/u0/DataOut_7" BEL "usb/u0/DataOut_6" BEL "usb/u0/DataOut_5" BEL
        "usb/u0/DataOut_4" BEL "usb/u0/DataOut_3" BEL "usb/u0/DataOut_2" BEL
        "usb/u0/DataOut_1" BEL "usb/u0/DataOut_0" BEL "usb/u0/rx_data_7" BEL
        "usb/u0/rx_data_6" BEL "usb/u0/rx_data_5" BEL "usb/u0/rx_data_4" BEL
        "usb/u0/rx_data_3" BEL "usb/u0/rx_data_2" BEL "usb/u0/rx_data_1" BEL
        "usb/u0/rx_data_0" BEL "usb/u1/frame_no_r_10" BEL
        "usb/u1/frame_no_r_9" BEL "usb/u1/frame_no_r_8" BEL
        "usb/u1/frame_no_r_7" BEL "usb/u1/frame_no_r_6" BEL
        "usb/u1/frame_no_r_5" BEL "usb/u1/frame_no_r_4" BEL
        "usb/u1/frame_no_r_3" BEL "usb/u1/frame_no_r_2" BEL
        "usb/u1/frame_no_r_1" BEL "usb/u1/frame_no_r_0" BEL
        "usb/u1/rx_data_st_7" BEL "usb/u1/rx_data_st_6" BEL
        "usb/u1/rx_data_st_5" BEL "usb/u1/rx_data_st_4" BEL
        "usb/u1/rx_data_st_3" BEL "usb/u1/rx_data_st_2" BEL
        "usb/u1/rx_data_st_1" BEL "usb/u1/rx_data_st_0" BEL
        "usb/u1/ctrl_setup" BEL "usb/u1/frame_no_we_r" BEL "usb/u1/ctrl_in"
        BEL "usb/u1/ctrl_out" BEL "usb/u1/u0/state_FSM_FFd1" BEL
        "usb/u1/u0/state_FSM_FFd2" BEL "usb/u1/u0/token_valid_r1" BEL
        "usb/u1/u0/token1_7" BEL "usb/u1/u0/token1_6" BEL "usb/u1/u0/token1_5"
        BEL "usb/u1/u0/token1_4" BEL "usb/u1/u0/token1_3" BEL
        "usb/u1/u0/token1_2" BEL "usb/u1/u0/token1_1" BEL "usb/u1/u0/token1_0"
        BEL "usb/u1/u0/token0_7" BEL "usb/u1/u0/token0_6" BEL
        "usb/u1/u0/token0_5" BEL "usb/u1/u0/token0_4" BEL "usb/u1/u0/token0_3"
        BEL "usb/u1/u0/token0_2" BEL "usb/u1/u0/token0_1" BEL
        "usb/u1/u0/token0_0" BEL "usb/u1/u0/crc16_sum_15" BEL
        "usb/u1/u0/crc16_sum_14" BEL "usb/u1/u0/crc16_sum_13" BEL
        "usb/u1/u0/crc16_sum_12" BEL "usb/u1/u0/crc16_sum_11" BEL
        "usb/u1/u0/crc16_sum_10" BEL "usb/u1/u0/crc16_sum_9" BEL
        "usb/u1/u0/crc16_sum_8" BEL "usb/u1/u0/crc16_sum_7" BEL
        "usb/u1/u0/crc16_sum_6" BEL "usb/u1/u0/crc16_sum_5" BEL
        "usb/u1/u0/crc16_sum_4" BEL "usb/u1/u0/crc16_sum_3" BEL
        "usb/u1/u0/crc16_sum_2" BEL "usb/u1/u0/crc16_sum_1" BEL
        "usb/u1/u0/crc16_sum_0" BEL "usb/u1/u0/rx_active_r" BEL
        "usb/u1/u0/token_valid_str1" BEL "usb/u1/u0/pid_3" BEL
        "usb/u1/u0/pid_2" BEL "usb/u1/u0/pid_1" BEL "usb/u1/u0/pid_0" BEL
        "usb/u1/u3/tx_data_to_cnt_7" BEL "usb/u1/u3/tx_data_to_cnt_6" BEL
        "usb/u1/u3/tx_data_to_cnt_5" BEL "usb/u1/u3/tx_data_to_cnt_4" BEL
        "usb/u1/u3/tx_data_to_cnt_3" BEL "usb/u1/u3/tx_data_to_cnt_2" BEL
        "usb/u1/u3/tx_data_to_cnt_1" BEL "usb/u1/u3/tx_data_to_cnt_0" BEL
        "usb/u1/u3/state_FSM_FFd1" BEL "usb/u1/u3/rx_ack_to_cnt_7" BEL
        "usb/u1/u3/rx_ack_to_cnt_6" BEL "usb/u1/u3/rx_ack_to_cnt_5" BEL
        "usb/u1/u3/rx_ack_to_cnt_4" BEL "usb/u1/u3/rx_ack_to_cnt_3" BEL
        "usb/u1/u3/rx_ack_to_cnt_2" BEL "usb/u1/u3/rx_ack_to_cnt_1" BEL
        "usb/u1/u3/rx_ack_to_cnt_0" BEL "usb/u1/u3/state_FSM_FFd3" BEL
        "usb/u1/u3/state_FSM_FFd2" BEL "usb/u1/u3/uc_dpd_1" BEL
        "usb/u1/u3/uc_dpd_0" BEL "usb/u1/u3/uc_dpd_set" BEL
        "usb/u1/u3/ep6_dpid_1" BEL "usb/u1/u3/ep6_dpid_0" BEL
        "usb/u1/u3/ep5_dpid_1" BEL "usb/u1/u3/ep5_dpid_0" BEL
        "usb/u1/u3/ep7_dpid_1" BEL "usb/u1/u3/ep7_dpid_0" BEL
        "usb/u1/u3/ep3_dpid_1" BEL "usb/u1/u3/ep3_dpid_0" BEL
        "usb/u1/u3/ep2_dpid_1" BEL "usb/u1/u3/ep2_dpid_0" BEL
        "usb/u1/u3/ep4_dpid_1" BEL "usb/u1/u3/ep4_dpid_0" BEL
        "usb/u1/u3/ep0_dpid_1" BEL "usb/u1/u3/ep0_dpid_0" BEL
        "usb/u1/u3/ep1_dpid_1" BEL "usb/u1/u3/ep1_dpid_0" BEL
        "usb/u1/u3/out_token" BEL "usb/u1/u3/in_token" BEL
        "usb/u1/u3/setup_token" BEL "usb/u1/u3/tx_data_to" BEL
        "usb/u1/u3/rx_ack_to" BEL "usb/u1/u3/this_dpid_1" BEL
        "usb/u1/u3/this_dpid_0" BEL "usb/u1/u3/rx_ack_to_clr" BEL
        "usb/u1/u3/next_dpid_1" BEL "usb/u1/u3/next_dpid_0" BEL
        "usb/u1/u3/token_pid_sel_1" BEL "usb/u1/u3/token_pid_sel_0" BEL
        "usb/u1/u3/send_token" BEL "usb/u1/u2/rc_cnt_4" BEL
        "usb/u1/u2/rc_cnt_3" BEL "usb/u1/u2/rc_cnt_2" BEL "usb/u1/u2/rc_cnt_1"
        BEL "usb/u1/u2/rc_cnt_0" BEL "usb/u1/u2/sizd_c_8" BEL
        "usb/u1/u2/sizd_c_7" BEL "usb/u1/u2/sizd_c_6" BEL "usb/u1/u2/sizd_c_5"
        BEL "usb/u1/u2/sizd_c_4" BEL "usb/u1/u2/sizd_c_3" BEL
        "usb/u1/u2/sizd_c_2" BEL "usb/u1/u2/sizd_c_1" BEL "usb/u1/u2/sizd_c_0"
        BEL "usb/u1/u2/tx_dma_en_r2" BEL "usb/u1/u2/tx_dma_en_r1" BEL
        "usb/u1/u2/sizd_is_zero" BEL "usb/u1/u2/idma_done" BEL
        "usb/u1/u2/rx_data_done_r" BEL "usb/u1/u2/mwe_r" BEL
        "usb/u1/u2/tx_dma_en_r" BEL "usb/u1/u1/state_FSM_FFd1" BEL
        "usb/u1/u1/state_FSM_FFd2" BEL "usb/u1/u1/send_data_r2" BEL
        "usb/u1/u1/tx_valid_r" BEL "usb/u1/u1/send_data_r" BEL
        "usb/u1/u1/tx_first_r" BEL "usb/u1/u1/tx_valid_r1" BEL
        "usb/u4/rom_adr_6" BEL "usb/u4/rom_adr_5" BEL "usb/u4/rom_adr_4" BEL
        "usb/u4/rom_adr_3" BEL "usb/u4/rom_adr_2" BEL "usb/u4/rom_adr_1" BEL
        "usb/u4/rom_adr_0" BEL "usb/u4/state_FSM_FFd1" BEL "usb/u4/rom_size_6"
        BEL "usb/u4/rom_size_5" BEL "usb/u4/rom_size_4" BEL
        "usb/u4/rom_size_3" BEL "usb/u4/rom_size_2" BEL "usb/u4/rom_size_1"
        BEL "usb/u4/rom_size_0" BEL "usb/u4/state_FSM_FFd2" BEL
        "usb/u4/state_FSM_FFd3" BEL "usb/u4/state_FSM_FFd4" BEL
        "usb/u4/state_FSM_FFd5" BEL "usb/u4/state_FSM_FFd6" BEL
        "usb/u4/state_FSM_FFd7" BEL "usb/u4/state_FSM_FFd8" BEL
        "usb/u4/state_FSM_FFd9" BEL "usb/u4/state_FSM_FFd10" BEL
        "usb/u4/state_FSM_FFd11" BEL "usb/u4/state_FSM_FFd13" BEL
        "usb/u4/state_FSM_FFd15" BEL "usb/u4/state_FSM_FFd16" BEL
        "usb/u4/state_FSM_FFd14" BEL "usb/u4/state_FSM_FFd17" BEL
        "usb/u4/state_FSM_FFd18" BEL "usb/u4/ep0_size_5" BEL
        "usb/u4/ep0_size_4" BEL "usb/u4/ep0_size_3" BEL "usb/u4/ep0_size_2"
        BEL "usb/u4/ep0_size_1" BEL "usb/u4/ep0_size_0" BEL
        "usb/u4/fifo_we_rom_r2" BEL "usb/u4/funct_adr_6" BEL
        "usb/u4/funct_adr_5" BEL "usb/u4/funct_adr_4" BEL "usb/u4/funct_adr_3"
        BEL "usb/u4/funct_adr_2" BEL "usb/u4/funct_adr_1" BEL
        "usb/u4/funct_adr_0" BEL "usb/u4/send_stall" BEL "usb/u4/rom_sel_r"
        BEL "usb/u4/funct_adr_tmp_6" BEL "usb/u4/funct_adr_tmp_5" BEL
        "usb/u4/funct_adr_tmp_4" BEL "usb/u4/funct_adr_tmp_3" BEL
        "usb/u4/funct_adr_tmp_2" BEL "usb/u4/funct_adr_tmp_1" BEL
        "usb/u4/funct_adr_tmp_0" BEL "usb/u4/hdr6_6" BEL "usb/u4/hdr6_5" BEL
        "usb/u4/hdr6_4" BEL "usb/u4/hdr6_3" BEL "usb/u4/hdr6_2" BEL
        "usb/u4/hdr6_1" BEL "usb/u4/hdr6_0" BEL "usb/u4/hdr3_7" BEL
        "usb/u4/hdr3_6" BEL "usb/u4/hdr3_5" BEL "usb/u4/hdr3_4" BEL
        "usb/u4/hdr3_3" BEL "usb/u4/hdr3_2" BEL "usb/u4/hdr3_1" BEL
        "usb/u4/hdr3_0" BEL "usb/u4/hdr2_6" BEL "usb/u4/hdr2_5" BEL
        "usb/u4/hdr2_4" BEL "usb/u4/hdr2_3" BEL "usb/u4/hdr2_2" BEL
        "usb/u4/hdr2_1" BEL "usb/u4/hdr2_0" BEL "usb/u4/hdr1_7" BEL
        "usb/u4/hdr1_6" BEL "usb/u4/hdr1_5" BEL "usb/u4/hdr1_4" BEL
        "usb/u4/hdr1_3" BEL "usb/u4/hdr1_2" BEL "usb/u4/hdr1_1" BEL
        "usb/u4/hdr1_0" BEL "usb/u4/hdr0_6" BEL "usb/u4/hdr0_5" BEL
        "usb/u4/hdr0_4" BEL "usb/u4/hdr0_3" BEL "usb/u4/hdr0_2" BEL
        "usb/u4/hdr0_1" BEL "usb/u4/hdr0_0" BEL "usb/u4/le_7" BEL
        "usb/u4/le_6" BEL "usb/u4/le_5" BEL "usb/u4/le_4" BEL "usb/u4/le_3"
        BEL "usb/u4/le_2" BEL "usb/u4/le_1" BEL "usb/u4/le_0" BEL
        "usb/u4/v_set_int" BEL "usb/u4/synch_frame" BEL "usb/u4/get_interface"
        BEL "usb/u4/set_config" BEL "usb/u4/set_interface" BEL
        "usb/u4/get_config" BEL "usb/u4/set_descriptor" BEL
        "usb/u4/get_descriptor" BEL "usb/u4/set_address" BEL
        "usb/u4/write_done" BEL "usb/u4/write_done_r" BEL
        "usb/u4/clear_feature" BEL "usb/u4/ep0_we" BEL "usb/u4/ep0_dout_7" BEL
        "usb/u4/ep0_dout_6" BEL "usb/u4/ep0_dout_5" BEL "usb/u4/ep0_dout_4"
        BEL "usb/u4/ep0_dout_3" BEL "usb/u4/ep0_dout_2" BEL
        "usb/u4/ep0_dout_1" BEL "usb/u4/ep0_dout_0" BEL "usb/u10/f0/rp_5" BEL
        "usb/u10/f0/rp_4" BEL "usb/u10/f0/rp_3" BEL "usb/u10/f0/wp_5" BEL
        "usb/u10/f0/wp_4" BEL "usb/u10/f0/wp_3" BEL "usb/u10/f0/wp_2" BEL
        "usb/u10/f0/wp_1" BEL "usb/u10/f1/rp_5" BEL "usb/u10/f1/rp_4" BEL
        "usb/u10/f1/rp_3" BEL "usb/u10/f1/wp_5" BEL "usb/u10/f1/wp_4" BEL
        "usb/u10/f1/wp_3" BEL "usb/u10/f1/wp_2" BEL "usb/u10/f1/wp_1" BEL
        "usb/u10/f1/wp_0" BEL "usb/u12/f0/cnt_9" BEL "usb/u12/f0/cnt_8" BEL
        "usb/u12/f0/cnt_7" BEL "usb/u12/f0/cnt_6" BEL "usb/u12/f0/cnt_5" BEL
        "usb/u12/f0/cnt_4" BEL "usb/u12/f0/cnt_3" BEL "usb/u12/f0/cnt_2" BEL
        "usb/u12/f0/cnt_1" BEL "usb/u12/f0/cnt_0" BEL "usb/u11/f1/cnt_9" BEL
        "usb/u11/f1/cnt_8" BEL "usb/u11/f1/cnt_7" BEL "usb/u11/f1/cnt_6" BEL
        "usb/u11/f1/cnt_5" BEL "usb/u11/f1/cnt_4" BEL "usb/u11/f1/cnt_3" BEL
        "usb/u11/f1/cnt_2" BEL "usb/u11/f1/cnt_1" BEL "usb/u11/f1/cnt_0" PIN
        "usb/u11/f1/u0/Mram_mem_pins<20>" PIN
        "usb/u11/f1/u0/Mram_mem_pins<21>" BEL "usb/u14/f0/wp_7" BEL
        "usb/u14/f0/wp_6" BEL "usb/u14/f0/wp_5" BEL "usb/u14/f0/wp_4" BEL
        "usb/u14/f0/wp_3" BEL "usb/phy/i_tx_phy/append_eop" BEL
        "usb/phy/i_tx_phy/tx_ip" BEL "usb/phy/i_tx_phy/data_done" BEL
        "usb/phy/i_rx_phy/sd_nrzi" BEL "usb/phy/i_rx_phy/rx_valid1" BEL
        "usb/phy/i_rx_phy/rx_active" BEL "usb/u4/configured" BEL
        "usb/u4/set_adr_pending" BEL "usb/u10/f0/gb" BEL "usb/u10/f1/gb" BEL
        "usb/u14/f0/gb" BEL "usb/phy/i_tx_phy/sd_nrzi_o" BEL "usb/u1/u0/rxv2"
        BEL "usb/u1/u0/rxv1" BEL "usb/u1/u3/send_stall_r" BEL
        "usb/u1/u2/ep_empty_r" BEL "usb/u1/u2/ep_full_latched" BEL
        "usb/u1/u2/ep_empty_latched" BEL "usb/u1/u2/send_data_r" BEL
        "usb/u1/u2/ff/rp" BEL "usb/u1/u2/ff/wp" BEL "usb/u1/u1/zero_length_r"
        BEL "usb/u1/u1/send_token_r" BEL "usb/phy/i_tx_phy/sd_raw_o" BEL
        "usb/phy/i_tx_phy/sft_done" BEL "usb/phy/i_tx_phy/TxReady_o" BEL
        "usb/phy/i_rx_phy/dpll_state_FSM_FFd2" BEL "usb/phy/i_rx_phy/sync_err"
        BEL "usb/phy/i_rx_phy/rxdp_s_r" BEL "usb/phy/i_rx_phy/rxdn_s_r" BEL
        "usb/phy/i_rx_phy/se0_r" BEL "usb/u1/u0/data_valid0" BEL
        "usb/u1/u3/match_r" BEL "usb/u1/u3/abort" BEL "usb/u1/u3/pid_seq_err"
        BEL "usb/u1/u1/crc16_add" BEL "usb/u4/state_FSM_FFd12" BEL
        "usb/u4/config_err" BEL "usb/u4/hdr_done_r" BEL "usb/u4/v_set_feature"
        BEL "usb/u4/v_get_status" BEL "usb/u4/set_feature" BEL
        "usb/u4/get_status" BEL "usb/u4/adv" BEL "usb/phy/i_rx_phy/rx_valid_r"
        BEL "usb/phy/i_tx_phy/sd_bs_o" BEL "usb/u10/f0/wp_0" BEL
        "usb/u14/f0/wp_2" BEL "usb/u14/f0/wp_1" BEL "usb/u14/f0/wp_0" BEL
        "usb/u10/f1/rp_2" BEL "usb/u10/f1/rp_1" BEL "usb/u10/f1/rp_0" BEL
        "usb/u10/f0/rp_2" BEL "usb/u10/f0/rp_1" BEL "usb/u10/f0/rp_0" BEL
        "usb/u1/u2/ec_5" BEL "usb/u1/u2/ec_1" BEL "usb/u1/u2/ec_2" BEL
        "usb/u1/u2/ec_4" BEL "usb/u1/u2/ec_3" BEL "usb/u1/u2/ec_0" BEL
        "usb/u1/u1/crc16_15" BEL "usb/u1/u1/crc16_14" BEL "usb/u1/u1/crc16_13"
        BEL "usb/u1/u1/crc16_12" BEL "usb/u1/u1/crc16_11" BEL
        "usb/u1/u1/crc16_10" BEL "usb/u1/u1/crc16_9" BEL "usb/u1/u1/crc16_8"
        BEL "usb/u1/u1/crc16_7" BEL "usb/u1/u1/crc16_6" BEL
        "usb/u1/u1/crc16_5" BEL "usb/u1/u1/crc16_4" BEL "usb/u1/u1/crc16_3"
        BEL "usb/u1/u1/crc16_2" BEL "usb/u1/u1/crc16_1" BEL
        "usb/u1/u1/crc16_0" BEL "usb/u1/u0/token1_1_1" BEL
        "usb/u1/u0/token0_7_1" BEL "usb/u1/u0/token1_0_1" BEL
        "usb/u1/u0/token1_2_1" BEL "usb/u1/u0/token1_1_2" BEL
        "usb/u1/u0/token1_0_2" BEL "usb/u1/u0/token1_2_2" BEL
        "usb/u1/u1/state_FSM_FFd2_1" BEL "usb/u1/u0/token1_1_3" BEL
        "usb/u1/u0/token0_7_2" BEL "clk_i_BUFGP/BUFG" PIN
        "usb/u10/f0/u0/Mram_mem_pins<20>" PIN
        "usb/u10/f0/u0/Mram_mem_pins<21>" PIN
        "usb/u10/f1/u0/Mram_mem_pins<20>" PIN
        "usb/u10/f1/u0/Mram_mem_pins<21>" PIN
        "usb/u4_rom1/Mram_adr[6]_X_16_o_wide_mux_1_OUT_pins<10>" BEL
        "usb/u1/u0/Mshreg_d2_6" BEL "usb/phy/i_rx_phy/Mshreg_fs_ce" BEL
        "usb/phy/i_rx_phy/fs_ce" BEL "usb/u1/u0/Mshreg_d2_7" BEL
        "usb/u1/u0/Mshreg_d2_5" BEL "usb/u1/u0/Mshreg_d2_4" BEL
        "usb/u1/u0/Mshreg_d2_1" BEL "usb/u1/u0/Mshreg_d2_3" BEL
        "usb/u1/u0/Mshreg_d2_2" BEL "usb/u1/u0/Mshreg_d2_0" BEL
        "usb/u1/u2/Mshreg_ff_we" BEL "usb/u1/u2/ff_we" BEL
        "usb/u1/u2/ff/Mram_mem21/DP" BEL "usb/u1/u2/ff/Mram_mem21/SP" BEL
        "usb/u1/u2/ff/Mram_mem22/DP" BEL "usb/u1/u2/ff/Mram_mem22/SP" BEL
        "usb/u1/u2/ff/Mram_mem1_RAMA_D1" BEL "usb/u1/u2/ff/Mram_mem1_RAMA" BEL
        "usb/u1/u2/ff/Mram_mem1_RAMB_D1" BEL "usb/u1/u2/ff/Mram_mem1_RAMB" BEL
        "usb/u1/u2/ff/Mram_mem1_RAMC_D1" BEL "usb/u1/u2/ff/Mram_mem1_RAMC" BEL
        "usb/u1/u2/ff/Mram_mem1_RAMD_D1" BEL "usb/u1/u2/ff/Mram_mem1_RAMD";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

